body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.content {
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}


.parent-div {
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .desktop--2-1-2650 {
    position: absolute;
    width: 1440px;
    height: 1024px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
  }
  .rectangle-9-1-588 {
    position: absolute;
    width: 504px;
    height: 1024px;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
   
    filter: blur(1px);
    mix-blend-mode: normal;
  }
  .rectangle-10-1-1292 {
    position: absolute;
    width: 392px;
    height: 73px;
    top: 172px;
    left: 56px;
    opacity: 1;
    z-index: 2;
    transform: rotate(0deg);
    border-radius: 25px 25px 25px 25px;
    background: #d9d9d9ff;
    font-size:xx-large;
    padding-left: 10px;

  }
  .rectangle-11-1-602 {
    position: absolute;
    width: 392px;
    height: 73px;
    top: 284px;
    left: 56px;
    opacity: 1;
    z-index: 3;
    transform: rotate(0deg);
    border-radius: 25px 25px 25px 25px;
    background: #d9d9d9ff;
    font-size:xx-large;
    padding-left: 10px;

  }
  .rectangle-12-1-456 {
    position: absolute;
    width: 392px;
    height: 73px;
    top: 396px;
    left: 56px;
    opacity: 1;
    z-index: 4;
    transform: rotate(0deg);
    border-radius: 25px 25px 25px 25px;
    background: #d9d9d9ff;
    font-size:xx-large;
    padding-left: 10px;
    

  }
  .rectangle-13-1-400 {
    position: absolute;
    width: 392px;
    height: 73px;
    top: 508px;
    left: 56px;
    opacity: 1;
    z-index: 5;
    transform: rotate(0deg);
    border-radius: 25px 25px 25px 25px;
    background: #d9d9d9ff;
  }
  .rectangle-14-1-1914 {
    position: absolute;
    width: 392px;
    height: 73px;
    top: 673px;
    left: 56px;
    opacity: 1;
    z-index: 6;
    transform: rotate(0deg);
    border-radius: 25px 25px 25px 25px;
    background: #d9d9d9ff;
  }
  .rectangle-15-1-1584 {
    position: absolute;
    width: 164px;
    height: 43px;
    top: 611px;
    left: 56px;
    opacity: 1;
    z-index: 7;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
    background: #d9d9d9ff;
  }
  .rectangle-16-1-3540 {
    
    position: absolute;
    width: 938px;
    height: 1024px;
    top: 0px;
    left: 502px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    border-radius: 0px 0px 0px 0px;
  }
  .enter-the-detai-1-0 {
    position: absolute;
    width: 392px;
    height: 61px;
    top: 81px;
    left: 56px;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .enter-the-detai-1-0-0 {
    font-size: 49px;
    font-family: Inter;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 50px;
    color: rgb(248, 248, 248);
  }
  
  .helloname-1-3840 {
    position: absolute;
    width: 349px;
    height: 59px;
    top: 11px;
    left: 24px;
    opacity: 1;
    z-index: 9;
    transform: rotate(0deg);
    text-align: left;
    line-height: 0px;
  }
  .helloname-1-3840-0 {
    font-size: 30px;
    font-family: Inter;
    font-weight: 400;
  
    text-decoration: none;
    text-transform: none;
  
    line-height: 50px;
    color: #ffffffff;
  }

  .assess{
    font-size: x-large;
    position : absolute;
    top :  540px;
    left : 150px;
    border-radius: 45.5px 45.5px 45.5px 45.5px;
    background: linear-gradient(225.92deg, #1ecad485 0%, #c61ed4bd 99%);
    width : 200px;
    height: 50px;


  }
  
  .assess1{
    font-size: x-large;
    position : absolute;
    top :  640px;
    left : 150px;
    border-radius: 45.5px 45.5px 45.5px 45.5px;
    background: linear-gradient(225.92deg, #1ecad485 0%, #c61ed4bd 99%);
    width : 200px;
    height: 50px;



  }
  
  .display{
    width : 150px;
    height: 180px;
    background: white;
    position:absolute;
    bottom: 500px;
    z-index: 5;
    
  }
.content{
  color: white;
  background:white;
  z-index: 9;
}

.display{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.block {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}


.admin{
  position:absolute;
  top:10vmax;
}